name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev portaudio19-dev build-essential libpulse-dev libdbus-1-dev libudev-dev
      - name: Build
        run: cargo build --verbose
      - name: Build web
        run: cargo build --release --target wasm32-unknown-unknown --features default
      - name: wasm-bindgen
        run: cargo install -f wasm-bindgen-cli &&  wasm-bindgen --out-dir ./web/ --target web ..\target\wasm32-unknown-unknown\release\minesweeper.wasm


      - name: GitHub Pages
        # You may pin to the exact commit or the version.
        # uses: crazy-max/ghaction-github-pages@a117e4aa1fb4854d021546d2abdfac95be568a3a
        uses: crazy-max/ghaction-github-pages@v2.6.0
        with:
          # Build directory to deploy
          build_dir: ./web
