name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: install wasm target
        run: rustup target add wasm32-unknown-unknown
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev portaudio19-dev build-essential libpulse-dev libdbus-1-dev libudev-dev
      - name: Build
        run: cargo build --verbose
      - name: Build web
        run: cargo build --release --target wasm32-unknown-unknown --features default
      - name: wasm-bindgen
        run: cargo install -f wasm-bindgen-cli &&  wasm-bindgen --out-dir ./web/ --target web ./target/wasm32-unknown-unknown/release/minesweeper.wasm


      - name: GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: web # The folder the action should deploy.


